<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
<script src="/static/scripts/jquery/jquery-1.10.2.js"></script>
<script src="/static/scripts/bootstrap/bootstrap.js"></script>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">San Francisco Food Trucks</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('views.home') }}">Home</a></li>
                    <li><a href="{{ url_for('views.about') }}">About</a></li>
                    <li><a href="{{ url_for('views.contact') }}">Contact</a></li>
                    {% if g.user %}
                    <li><a href="{{ url_for('views.home') }}"> Hi {{ g.user['username'] }}!</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" style="height:100%; width:100% ">
        {% block content %}{% endblock %}
        <hr />
    </div>

    {% block scripts %}{% endblock %}

</body>
</html>

<style>
html, body {
    height: 100%;
    width : 100%;
}
</style>